<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <h1>Products</h1>
    <table>
      <tbody>
        <% @products.each do |product| %>
        <div class="col-md-6">
          <div class="well">
            <h4> <%= product.name %> <small> (<%= product.category.try(:name) %>) </small></h4>
            <h5> tienda: <%= product.store.name %> </h5>
            <p> Precio: <%= product.price %> </p>
            <p> Stock: <%= product.stock %> </p>
            <%= link_to 'Comprar', product_orders_path(product), method: :post, class:"btn btn-primary" %>
          </div>
        </div>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Product', new_product_path %>
  </div>
  <div class="col-md-6">
    <div id="map" style='width: 100%; height: 300px;'></div>
  </div>
</div>

<script>
  function initMap(){
    handler = Gmaps.build('Google');
    handler.buildMap({
      provider: {
        zoom: 14,
        center: {lat:<%= current_user.latitude %>, lng:<%= current_user.longitude%>},
      },
      internal: {id: 'map'}
    }, function(){
      map = handler.getMap();
      google.maps.event.addListener(map, "click", function(){
        console.log("hola");
      });

    });
  };
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2uIfbiVh5I0nUc51Yy3yWh9FSc3eK9I8&callback=initMap"
async defer></script>

<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

